@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --primary: 158 93% 18%; /* Islamic Green #064e3b */
    --primary-foreground: 144 100% 97%;

    --secondary: 35 92% 51%; /* Gold #d97706 */
    --secondary-foreground: 26 83.3% 14.1%;
    
    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }
}
